/* = Header Main
=============================================*/

.header-main {
	box-shadow: 0 18px 37px -7px rgba(0,0,0,.3);
	padding: 0;
	position: sticky;
	z-index: 5;
	margin-left: 0;
	top: 0;
	opacity: 1;
	background-color: var(--header-background);
	transition: opacity 0.1s linear, transform 0.3s ease-out, margin 0.3s ease-out;

	.shrinkHeader & {
		box-shadow: 0 18px 37px -7px rgba(0,0,0,.4);
		transform: translateY(-100%);
		opacity: 0;
	}

	.isArticleListPanelOpened & {
		margin-left: 25rem;
	}

	/* Show/Hide Left side Panel */
	.post-list__drawer {
		display: inline-block;
		height: 100%;
		width: 80px;
		background-color: var(--sidebar-background);
		color: #FFF;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		cursor: pointer;
		margin-right: 1rem;
		border: 0px solid;

		.ion-ios-arrow-forward:before {
			.isArticleListPanelOpened & {
				content: "\f3cf";
			}
		}
	}

	.header-title {
		margin: 0;
		font-family: 'Bebas';
		font-weight: bold;
	}
	.header-title a {
		font-size: var(--base-vertical-space-3x); /* 8px * 4 = 32px */
		color: #000;
		height: 100%;
		color: #000;
	}

	.uk-search-default {
		display: flex;

		.uk-search-input {
			width: 350px;
			border: 1px solid #EEE;
			padding: 1rem 40px 12px;
			height: auto;
			transition: width 0.3s ease;
			font-size: 1rem;

			&:focus {
				width: 450px;
				border: 1px solid #ccc;
        		box-shadow: 0px 1px 5px inset rgba(0,0,0,0.2);
			}
		}

		.clear-search {
			font-weight: bold;
			position: absolute;
			right: 0;
			visibility: hidden;
			padding: 10px 1rem;
			height: 100%;
			background-color: #EEE;
		}

		&.isSearching {
			.clear-search {
				visibility: visible;
				opacity: 0.7;
			}
		}
	}
}

/* LOGO
=========================================*/
.logo-iconic {
	height: 48px;
}
.logo-textual {
	height: 38px;
	margin-left: 1rem;
}
#toggleSidebar {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    font-size: 1.5em;
    padding: 0.5em 1em;
}
#toggleSidebar:hover,
#toggleSidebar:focus {
	text-decoration: none;
}

/*
.main-navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-navigation > li {
	float: left;
	height: 100%;
	line-height: 44px;
}
.main-navigation > li .main-navigation__item {
	display: inline-block;
	padding: 8px 0px;
	text-transform: uppercase;
	color: #000;
	position: relative;
	transition: transform .2s;
	margin: 0 1em;
	vertical-align: bottom;
	font-weight: bold;
    font-size: var(--base-font-size);
}
.main-navigation > li .main-navigation__item:hover,
.main-navigation > li .main-navigation__item:focus {
	text-decoration: none;
}
.main-navigation > li .main-navigation__item::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 12px;
    left: 0;
    background-color: #5f27cd;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
}
.main-navigation > li .main-navigation__item:hover::after,
.main-navigation > li .main-navigation__item:focus::after,
.main-navigation > li .main-navigation__item:active::after {
    transform-origin: bottom left;
    transform: scaleX(1);
} */

.ad2hs-prompt {
	display: none;
}
