:root {
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --title-font: 'Product Sans', Arial, sans-serif;
    --base-font: 'Open Sans', Arial, sans-serif;
    --roboto: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    --base-font-size: 1rem; // 16px;
    --base-line-height: 1.5;
    --base-vertical-space: 8px;
    --base-vertical-space-half: 4px;
    --base-vertical-space-1x: var(--base-vertical-space, 8px);
    --base-vertical-space-2x: calc(var(--base-vertical-space, 8px) * 2);
    --base-vertical-space-3x: calc(var(--base-vertical-space, 8px) * 3);
    --base-vertical-space-4x: calc(var(--base-vertical-space, 8px) * 4);
    --base-vertical-space-5x: calc(var(--base-vertical-space, 8px) * 5);
}
