.solarized-dark {
    --body-bg: #002b36;
    /* Article Content colors */
	--content-background: #011f27;
	--content-foreground: #93a1a1;
	--content-link-color: #c09306;
	--content-link-hover: #dbab15;
	--content-heading-color: #657b83;
	--code-block-bg: #073642;
    --header-background:#FFF;
    --sidebar-background:#002b36;
    --sidebar-link-color: #FFF;
    --sidebar-link-active: #ee5253;
    --sidebar-tags-color: #ffeb3b;
    --sidebar-category-color: #c8d6e5;
    --sidebar-active-background:#ee5253;
    --offcanvas-background: #2e86de;
    --offcanvas-foreground: #ffffff;
    --light-gray-border: 1px solid #DDD;
    --table-header-bg: #EEE;
    --table-odd-row-bg: #fff2dd;
    --table-even-row-bg: #fffaf2;
    --table-content-foreground: #34495e;
}
