.light {
    --body-bg: #ededed;
    /* Article Content colors */
    --content-background: #FFF;
	--content-foreground: #2c3e50;
	--content-link-color: #ee5252;
    --content-link-hover: #f73b3b;
    --content-heading-color: #2c3e50;
    --code-block-bg: #002b36;
    --header-background:#FFF;
    --sidebar-link-color: #FFF;
    --sidebar-link-active: #ee5253;
    --sidebar-tags-color: #ffeb3b;
    --sidebar-category-color: #c8d6e5;
    --sidebar-background:#ee5253;
    --sidebar-active-background:#ee5253;
    --offcanvas-background: #222f3e;
    --offcanvas-foreground: #ffffff;
    --light-gray-border: 1px solid #DDD;
    --table-header-bg: #EEE;
    --table-odd-row-bg: #fff2dd;
    --table-even-row-bg: #fffaf2;
    --table-content-foreground: #34495e;
}
